body,html{height: 100%; font-family: 'Raleway', sans-serif; font-size: 16px; font-weight: 300;}

h1{font-weight: 600; margin-bottom: 10px; margin-top: 0;}
h2{font-weight: 300; margin-top: 10px;}
h3{font-weight: 600;}
p{font-weight: 300; line-height: 32px;}
.row{text-align: center; padding:0 20px;}

h1{font-size: 3rem;}
h2{font-size: 2.25rem}
h3{font-size: 1.25rem;}
.hero{height: 100vh; width: 100%; display: flex; align-items: center; justify-content: center;
    color:white;  flex-direction:column;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3489c7+0,886da7+86 */
    background: #3489c7; /* Old browsers */
    background: -moz-linear-gradient(top, #3489c7 0%, #886da7 86%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3489c7 0%,#886da7 86%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3489c7 0%,#886da7 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3489c7', endColorstr='#886da7',GradientType=0 ); /* IE6-9 */
}
.hero div{text-align: center;}
.downloadButton{color:white; underline: none; text-decoration: none;
border: 1px solid; padding: 12px; border-radius: 2px; transition: all .3s;}
.downloadButton2{border-color: #80669d; color:#80669d}
.downloadButton:hover{text-decoration: none; background-color: #3489c8; border-color: #317aaf;}
.downloadButton2:hover{color:black}
.scrollWrapper{position: absolute; bottom: 20px; left:0;
right:0;
margin-left:auto;
margin-right:auto;}

.scrollText{margin-bottom: 10px;}
#scroll, .scrollWrapper{animation: blink 3s infinite;}


.marginTop{margin-top: 65px;}
.marginBottom{margin-bottom: 65px;}
.mainContent{margin-top: 65px;}
.featuresRow{border-top: 1px solid #efeeef; padding-top: 65px;}
.rowDemo{border-top: 1px solid #efeeef; padding-top: 65px;}
.rowDemo .col{ padding: 0 10px 0 10px; margin: 10px 0 10px 0; color:white;}
.rowDemo .col .content{background-color:#3489c7; padding: 10px 0 10px 5px; text-align: left;
border-radius: 5px;
}
.breakpointText{color: #886da7; font-weight: 600;}

.footer{height: 10vh; width: 100%;
    color:white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3489c7+0,886da7+86 */
    background: #886da7; /* Old browsers */

}

.footer .column{padding: 15px 15px 0 15px;}
.footer a{color:white;}
.github a{float:right;}


@keyframes blink {
    0%   {opacity: 1;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}


@media(max-width: 767px){
    .leftFooter{font-size: 12px;}
}
